*{
	padding: 0;
	margin: 0;
	user-select: none;
	font-family: 'open Sans';
	user-drag: none;user-select: none;-moz-user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;
}
* a{
	text-decoration: none;
}
body{background: rgb(73,61,82, .25);}
.bg{position: absolute;top: 1rem;left: 0;width: 70%;height: 100%;filter: brightness(60%); z-index: 1;}
.conteudo .title{position: absolute; left: 15rem; top: 8rem; z-index: 2;
	font-family: 'Open sans';
	font-size: 30pt;
	color: #CBEEF2;
	font-weight: 200;
}
.conteudo .content{position: absolute; left: 7.7rem; top: 13rem; z-index: 2;
	font-family: 'Open sans';
	font-size: 14pt;
	max-width: 30%;
	text-align: center;
	color: #CBEEF2;
	font-weight: 200;
	margin: 3.3% 0;
}
.container{max-width: 1280;padding: 0 2%;margin: 0 auto;}
.conteudo button{
	text-align: center;
	z-index: 994;
	width: 150px;
	height: 50px;
	position: absolute;
	display: block;
	color: #FFF;
	top: 35rem;
	left: 15.5rem;
	border: 2px solid #333;
	background: #333;
}
.conteudo button:hover{
	background: #578D3B;
	transition: .5s ease;
	cursor: pointer;
	border: 2px solid #578D3B;
	box-shadow: 2px 2px 4px rgba(0,0,0,.24);
}
header{
	background: #333;
	width: 100%;
	height: 8vh;
	z-index: 999;
	position: relative;
	margin:  0 0 7.7% 0;
}
header .logo-nubanco > h2{
	padding: 20px 0;
	color: #FFF;
	text-align: center;
	font-weight: 400;
}header .logo-nubanco > h2 a{color: #FFF;}
header .logo-nubanco > h2:hover{
	filter: brightness(80%);
}
/*header.nav-items p{
	width: 30px;
	height: 3px;
	background: #000;
}*/
.nav-hamburguer h2{
	font-size: 2.2em;
	color: #FFF;
	position: absolute;
	top: .7rem;
	left: 1rem;
	cursor: pointer;
}
nav .nav-bar{
	position: absolute;
	top: 4.5rem;
	left: 0;
	background: #333;
	width: 100%;
	height: 18vw;
	display: none;
	z-index: 999;
}
nav .nav-bar ul li{
	font-size: 1.2em;
	text-align: center;
	padding: 1% 0;
	font-weight: 300;
	color: #FFF;
}
nav .nav-bar ul li a{color: #FFF;}
nav .nav-bar ul li:hover{font-weight: 600;cursor: pointer;}
input::placeholder{color: rgb(73,61,82);}
.formulario form h2{
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 1.8em;
	color: #333;
	text-align: center;
	margin: 4% 0 7.7% 0;
	padding: 4.4% 0 0 0;
}
.formulario form input, button{display: block;}
label, input[type=checkbox]{display: inline-block;}
.formulario form{
	background: rgba(51, 51, 51, .35);
	width: 400px;
	height: 500px;
	margin: 0 auto;
	position: absolute;
	right: 6.6rem;
	top: 12.2rem;
}
.formulario form input,
.formulario button{
	margin: 2.2% auto;
	width: 85%;
	height: 45px;
}.formulario form input, select{
	padding: 0 0 0 10px;
	border: 1.5px solid #333; 
	background: rgba(51,51,51, .20);
	color: #C6EDF2; 
}.formulario form input:focus{outline: none;box-shadow: 0 0 0;}
/* Ajustando estilos de inputs. */
/*form input[type=checkbox]{
	width: 16px;
	height: 16px;
}*/
form input[type=date]{
	text-align: center;
}
.formulario form button{
	background: #333;
	color: #FFF;
	cursor: pointer;
	width: 88.3%;
	border: 1.5px solid #333;
	margin: 10% auto;
	font-family: 'Open sans';
	font-size: .9em;
}.formulario button:hover{transition: all .4s ease; border: 1.5px solid #16B21C; background: #16B21C; color: #FFF;}


footer .container-footer-principal{
	z-index: 887;
	position: absolute;
	bottom: -17%;
	background: #6FB54B;
	width: 100%;
	height: 11vw;
}
footer{margin: 0 auto; max-width: 100%;}
footer .container-footer-principal h2{
	font-family: 'Open sans';
	font-size: 1.5em;
	font-weight: 400;
	color: #333;
}
footer .container-footer-principal .enderecos h2{text-align: left;margin: 1.5%  0 0 2.5%;}
footer .container-footer-principal .enderecos p{
	margin-left: 2.5%;
	font-family: 'Open sans';
	font-weight: 200;
	font-size: 1em;
	color: #333;
}
footer .container-footer-principal .web-enderecos h2{text-align: center;margin: -6.5% 0 0 0;}
footer .container-footer-principal .web-enderecos p{
	text-align: center;
	font-family: 'Open sans';
	font-weight: 200;
	font-size: 1em;
	color: #333;
	margin: 0 auto;
	display: block;
}
footer .container-footer-principal .newsletter h2{font-size: 1.5em;text-align: right;margin-right: 5%;margin-top: -6%;}
footer .container-footer-principal .newsletter input{
	position: absolute;bottom: 3rem;right: 3.5%;
	width: 16.5%;
	height: 40px;
	padding-left: 5px;
	background: rgba(0,0,0, .10);
	border: 2px solid #588C43;
	color: #FFF;
	font-family: 'Open sans';
	font-weight: 100;
}footer .container-footer-principal .newsletter input:focus{
	background: rgba(0,0,0, .10);
	border: 2px solid #588C43;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	outline: 0;
}
footer .container-footer-principal .newsletter button{
	z-index: 994;
	width: 16.5%;
	height: 30px;
	position: absolute;
	display: block;
	color: #FFF;
	border: 2px solid #578D3B;
	background: none;
	position: absolute;
	right: 3.8%;
	bottom: .6rem;
}
footer .container-footer-principal .newsletter button:hover{
	background: #578D3B;
	transition: .5s ease;
	cursor: pointer;
	border: 2px solid #578D3B;
	box-shadow: 2px 2px 4px rgba(0,0,0,.24);
}
footer .footer-secundario{
	position: absolute;bottom: -21.2%;
	background: #588C43;
	width: 100%;
	height: 3vw;
	z-index: 994;
}footer .footer-secundario p{
	font-size: .8em;
	font-family: 'Open sans';
	text-align: center;
	color: #FFF;
	font-weight: 300;
	margin: .7% 0;
	display: block;
}
@media screen and (max-width: 900px){
	nav .nav-bar{
		height: 28vw;
		padding: 1.5% 0;
	}
		header .logo-nubanco > h2{
		padding: 16px 0;
	}
	.formulario form{
		background: rgba(51, 51, 51, .35);
		width: 400px;
		height: 500px;
		margin: 0 auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	footer{margin: 0 auto; max-width: 100%;}
	footer .container-footer-principal{
		z-index: 887;
		position: absolute;
		bottom: -50%;
		left: 0;
		background: #6FB54B;
		width: 100%;
		height: 50vh;
	}
	footer .container-footer-principal h2{
		font-family: 'Open sans';
		font-size: 1.5em;
		font-weight: 400;
		color: #333;
	}
	footer .container-footer-principal .enderecos h2{
		text-align: center;
		margin-top: 5%;
		display: block;
	}
	footer .container-footer-principal .enderecos p{
		text-align: center;
		font-family: 'Open sans';
		font-weight: 200;
		font-size: 1em;
		color: #333;
		display: block;
	}
	footer .container-footer-principal .web-enderecos h2{
		font-size: 1.5em;
		text-align: center;
		margin-top: 3%;
	}
	footer .container-footer-principal .web-enderecos p{
		text-align: center;
		font-family: 'Open sans';
		font-weight: 200;
		font-size: 1em;
		color: #333;
		display: block;
	}
	footer .container-footer-principal .newsletter h2{
		margin: 3.5% 0 0 0;
		font-size: 1.7em;
		text-align: center;
	}
	footer .container-footer-principal .newsletter input{
		width: 33%;
		height: 40px;
		padding-left: 5px;
		background: rgba(0,0,0, .10);
		border: 2px solid #588C43;
		color: #FFF;
		font-family: 'Open sans';
		font-weight: 200;
		right: 0;
		left: 0;
		top: 63%;
		margin: 0 auto;
	}footer .container-footer-principal .newsletter input:focus{
		background: rgba(0,0,0, .10);
		border: 2px solid #588C43;
		box-shadow: 0 0 0 rgba(0,0,0,0);
		outline: 0;
	}
	footer .container-footer-principal .newsletter button{
		z-index: 994;
		width: 34%;
		height: 30px;
		position: absolute;
		display: block;
		margin: 0 auto;
		color: #FFF;
		border: 2px solid #578D3B;
		background: none;
		top: 77%;
		left: 0;right: 0;
		}
	footer .container-footer-principal .newsletter button:hover{
		background: #578D3B;
		transition: .5s ease;
		cursor: pointer;
		border: 2px solid #578D3B;
		box-shadow: 2px 2px 4px rgba(0,0,0,.24);
	}
	footer .footer-secundario{
		position: absolute;bottom: -55%;
		background: #588C43;
		width: 100%;
		height: 7vw;
		z-index: 994;
	}footer .footer-secundario p{
		font-size: .8em;
		font-family: 'Open sans';
		text-align: center;
		color: #FFF;
		font-weight: 300;
		margin: 2% 0;
		display: block;
	}
	.bg,.conteudo{display: none;}
	.r_server .error{
	background: rgb(255,0,40, .50);
	width: 300px;
	height: 30px;
	text-align: center;
	color: #FFF;
	font-size: .9em;
	font-weight: 500;
	position: absolute;
	right: 10rem;
	top: 6.6rem;
	padding-top: 10px;
	animation: acepted .3s ease;
	display: none;
	}
}
.r_server .accept{
	background: #07C73D;
	width: 300px;
	height: 30px;
	text-align: center;
	color: #FFF;
	font-size: .9em;
	font-weight: 500;
	margin: 0 auto;
	padding-top: 10px;
	animation: acepted .3s ease;
	display: none;
}
.r_server .error{
	background: rgb(255,0,40, .50);
	width: 300px;
	height: 30px;
	text-align: center;
	color: #FFF;
	font-size: .9em;
	font-weight: 500;
	position: absolute;
	right: 10rem;
	top: 6.6rem;
	padding-top: 10px;
	animation: acepted .3s ease;
	display: none;
}
.active{animation: NavANIM .5s ease;}
.notactive{animation: NavN_ANIM .3s ease;}
@keyframes NavANIM{
	0%{left: -2%;}
	100%{left: 0;}
}
@keyframes NavN_ANIM{
	0%{left: -2%;}
	100%{left: 0;}
}
@keyframes acepted{
	to{transform: translateY(0);}
	from{transform: translateY(-15px);}
}
body::-webkit-scrollbar{
	width: 0px;
}